.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;

  .header__logo img {
    width: 128px;
    height: 39px;
    cursor: pointer;
  }

  .header__theme {
    display: flex;
    align-items: center;
    gap: 28px;

    .header__theme--text {
      p {
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #4b6a9b;
      }
    }

    .header__theme--icon {
      cursor: pointer;
    }
  }
}
